.section {
  width: 100%;
  background-color: $blue;
  @include columnCenter;
  padding: 0 64px 64px;
}

.separator {
  display: flex;
  flex-direction: column;
  background-color: $white;
  max-width: 1600px;
  width: 100%;
  border-radius: 16px;
  padding: 25px;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 25px;
}

.title {
  color: $white;
  margin-bottom: 20px;
}
