.posterContainer {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('/images/main_Photo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Nunito';
<<<<<<< HEAD
=======
  margin-bottom: 173px;
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}

.posterText {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  color: $dark-gray;

  & a {
    color: $blue;
  }
}

.container {
  max-width: 1600px;
  width: 100%;
<<<<<<< HEAD
  padding-left: 64px;
=======
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}

.posterContent {
  max-width: 750px;
  width: 100%;
  padding-bottom: 192px;
}

.buttons {
  display: flex;
  gap: 24px;
}
