.posterContainer {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('/images/main_Photo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Nunito';
}

.posterText {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  color: $dark-gray;

  & a {
    color: $blue;
  }
}

.container {
  max-width: 1600px;
  width: 100%;
}

.posterContent {
  max-width: 750px;
  width: 100%;
  padding: 0 0 170px 64px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
