.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.horizontalInputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1260px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'age gender'
      'investment investment';

    > *:nth-child(1) {
      grid-area: age;
    }
    > *:nth-child(2) {
      grid-area: gender;
    }
    > *:nth-child(3) {
      grid-area: investment;
      justify-self: center;
      max-width: 50%;
    }
  }

  @media (max-width: 885px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'age'
      'gender'
      'investment';

    > *:nth-child(1) {
      grid-area: age;
    }
    > *:nth-child(2) {
      grid-area: gender;
    }
    > *:nth-child(3) {
      grid-area: investment;
      justify-self: stretch;
      max-width: none;
    }
  }
}

.button {
  display: flex;
  min-width: 48%;
  margin: 0 auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  @media (max-width: 885px) {
    grid-template-columns: (1fr);
  }
}
