.section {
  @include section;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 64px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-bottom: 60px;
}

.faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px #00000040;
  overflow: hidden;
  max-height: 110px;
}

.faq__active {
  max-height: 1000px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 32px;
  font-weight: 600;

  padding: 32px;

  transition:
    background-color 0.3s ease,
    padding 0.3s ease;

  cursor: pointer;
}

.question_show {
  background-color: $light-purple;
  padding-bottom: 20px;
}

.answer {
  padding: 32px;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;

  font-size: 24px;
  line-height: 36px;
  color: #383838;
}

.show {
  opacity: 100%;
}

.arrow {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.arrow.open {
  transform: rotate(180deg);
}

.text {
  @include text($size: 32px, $weight: 600, $lineHeight: 46px);
  margin-bottom: 28px;
}
