.aboutContainer {
  @include section;
  min-height: 512px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Nunito';
  color: $dark-gray;
}

.aboutContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;

  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr;
  }
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.image {
  @media screen and (max-width: 1100px) {
    display: flex;
    width: 100%;
    max-width: 736px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }
}
