.consultationModal {
  position: fixed;
  inset: 50% auto auto 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.stepContainer {
  @include flex-column(16px);
}

.stepTitle {
  @include text($weight: 400);
}

.stepIndicator {
  display: flex;
  gap: 10px;
  margin-bottom: 36px;
}

.step {
  @include text($size: 16px, $color: $light-gray);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  border: 1px solid $medium-gray;

  &.active:not(.current) {
    background-color: $medium-gray;
    color: $white;
  }

  &.current {
    background-color: $blue;
    color: $white;
  }
}
