html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
<<<<<<< HEAD
  scrollbar-gutter: stable;
=======
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 136px;
  --main-width: 1728px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
<<<<<<< HEAD
  -webkit-tap-highlight-color: transparent;
  outline: none;
=======
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}

main {
  max-width: var(--main-width);
<<<<<<< HEAD
  padding: 0 64px;
=======
  margin: 0 auto;
  padding-top: var(--header-height);
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}

ul,
ol,
li {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

html:has(dialog[open]) {
  overflow: hidden;
}
