.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $blue;
}

.footerContainer {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding: 64px;
  max-width: 1728px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito';

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
  }
}

.footerLeft {
  display: flex;
  grid-column: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 350px;
  width: 100%;

  & > p {
    margin-top: auto;
    font-size: 32px;
    font-weight: 600;
  }
}

.footerLogo {
  padding: 0;
  margin: 0;
  display: block;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  margin-top: 30%;

  & > a {
    margin-bottom: 10%;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Nunito';
    color: #ffffff;
    cursor: pointer;
  }
}

.socialMedia {
  display: flex;
  margin-top: 5%;

  & > a {
    margin-right: 16px;
    font-size: 20px;
    cursor: pointer;
  }
}

.socialLogo {
  display: block;
}

.footerCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 127px;
  max-width: 350px;
  width: 100%;

  & > div {
    flex-basis: 50%;
  }
}

.footerRight {
  display: block;
  grid-column: 3;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}

.footer_topside {
  display: flex;
  flex-direction: column;
  gap: 44px;

  & > a {
    font-size: 20px;
  }
}

.footer_downside {
  display: flex;
  flex-direction: column;
  gap: 32px;

  & > p {
    margin-bottom: 4%;
    font-weight: 600;
    font-size: 32px;
  }
}

.footerForm {
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  color: $dark-gray;

  & > p {
    font-size: 24px;
    margin-bottom: 36px;
  }

  label {
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
  }

  input {
    height: 51px;
    padding: 12px 16px;
    background-color: #ffffff;
    border: solid 1px $purple-gray;
    border-radius: 8px;
    font-size: 20px;
    color: $dark-gray;
    margin-bottom: 16px;

    &:focus {
      outline: 1px solid $blue;
    }

    &::placeholder {
      color: $purple-gray;
      font-size: 20px;
    }
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 16px;
    background-color: #ffffff;
    border: solid 1px $purple-gray;
    border-radius: 8px;
    font-size: 20px;
    color: #1e1e1e;
    box-sizing: border-box;
    resize: vertical;

    &:focus {
      outline: 1px solid $blue;
    }

    &::placeholder {
      color: #d9d9d9;
      font-size: 20px;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 78px;
    margin: 6% 0;
    padding: 3% 0;
    border: none;
    border-radius: 8px;
    background-color: $blue;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
    cursor: pointer;
  }

  .inputGroup {
    position: relative;
    margin-bottom: 20px;
  }

  .checkboxGroup {
    position: relative;
  }

  .errorMessage {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 2px 0 0 0;
    font-size: 14px;
    color: $red;
    z-index: 1;
  }

  .checkmark {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid $purple-gray;
    border-radius: 6px;
    display: block;
    transition: all 0.2s ease;
    box-sizing: border-box;
    position: relative;
  }

  .footerCheckbox {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;

    .footerCheckboxInput {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }

    .footerCheckboxInput:checked ~ .checkmark {
      background-color: $blue;
      border: none;
    }

    .footerCheckboxInput:checked ~ .checkmark::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 4px;
      width: 6px;
      height: 12px;
      border: solid $purple-gray;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.agreementContainer {
  display: flex;
  align-items: center;
}

.footerAgreement {
  margin-left: 13px;
  font-size: 16px;
  color: #b3b3b3;

  & > a {
    color: #04006f;
    cursor: pointer;
  }
}

.formContainer {
  max-width: 551px;
  width: 100%;
}
