.calendar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.label {
  @include inputText();
}

.inputDate {
  @include inputText();
  padding: 8px 16px;
  border: 1px solid $light-gray;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.2s ease;

  &.error {
    border-color: $red;
  }

  &:focus {
    outline: none;
    border-color: $text-secondary;
  }
}

.calendarIcon {
  position: absolute;
  top: 23px;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.todayDate {
  display: flex;
  position: relative;
}

// меняем стили у календаря
.month_grid {
  margin: -40px auto 0;
}

.months {
  border-radius: 10px;
  border: 1px solid $light-gray;
}

.selected {
  border-radius: 50%;
  color: $white;
  background-color: $blue;
}

.chevron {
  fill: $black;
}

.weekday {
  @include text($size: 12px, $weight: 500px, $color: $dark-gray);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.caption_label {
  @include text($size: 24px, $weight: 400, $color: $dark-gray);
  top: 2%;
  left: 50%;
  position: absolute;
  text-transform: capitalize;
  transform: translateX(-50%);
}
