.formStep {
  @include flex-column(var(--form-step-gap, 20px));
}

.link {
  @include link-style;
}

.button {
  display: flex;
  align-self: center;
  margin-top: var(--button-margin-top, 20px);
}

.modalButton {
  font-size: var(--modal-button-font-size, 32px);
  height: var(--modal-button-height, 78px);
  padding: var(--modal-button-padding-vertical, 16px) var(--modal-button-padding-horizontal, 36px);
}
