.keyAdvantages {
  @include columnCenter();
  padding-bottom: 64px;
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.top_side {
  display: flex;
<<<<<<< HEAD
=======
  margin-top: 60px;
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
  gap: 56px;
}
.block_wrapper {
  @include boxShadow();
  display: flex;
  flex-direction: column;
  border: 1px solid #eeedff;
  padding: 32px;
  max-width: 804px;
  min-height: 285px;
  border-radius: 16px;
  gap: 32px;
}
.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.square {
  max-width: 32px;
  width: 100%;
  height: 32px;
  background-color: #04006f;
  border-radius: 4px;
}
.title_block {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
<<<<<<< HEAD
=======
  width: 740px;
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}
.text {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
<<<<<<< HEAD
=======
  width: 740px;
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}
.bottom_block_wrapper {
  @include boxShadow();
  border: 1px solid #eeedff;
  padding: 32px;
  max-width: 520px;
  border-radius: 16px;
  gap: 32px;
}
.bottom_side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 32px;
  max-width: 1600px;
  gap: 20px;
}
.bottom_title {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
<<<<<<< HEAD
=======
  width: 456px;
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}
.bottom_text {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
<<<<<<< HEAD
=======
  width: 456px;
>>>>>>> 6864fea0b54400a73da540e078a802c044e07b93
}
