.section {
  width: 100%;
  padding: 64px;
}

.separator {
  position: relative;
}

.wrapper {
  @include columnCenter();
}

.container {
  height: 366px;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease;
  gap: 24px;
}

.slide {
  display: flex;
  max-width: 871px;
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  gap: 24px;
  background: $light-purple;
}

.imageContainer {
  position: relative;
  flex: 1;
  max-width: 375px;
}

.image {
  object-fit: cover;
}

.content {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Nunito';
}

.subTitle {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Nunito';
}

.description {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Nunito';
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: $blue;
  width: 79px;
  height: 79px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prevButton {
  left: -2.5rem;
}

.leftArrow {
  transform: rotate(90deg);
}

.rightArrow {
  transform: rotate(-90deg);
}

.nextButton {
  right: -2.5rem;
}

.prevButton:hover,
.nextButton:hover {
  color: $light-blue;
  transform: translateY(-50%) scale(1.1);
}

.prevButton:disabled,
.nextButton:disabled {
  cursor: not-allowed;
}

.prevButton:disabled:hover,
.nextButton:disabled:hover {
  transform: translateY(-50%);
}

.text {
  @include text($size: 32px, $weight: 600, $lineHeight: 46px);
  margin: 60px 0 28px;
}
